name: Close Pull Requests to main
on:
  pull_request_target:
    branches:
      - main
    types:
      - opened
      - reopened
      - edited

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  close_pr_to_main:
    runs-on: ubuntu-latest
    if: |
      github.head_ref != 'develop' &&
      github.head_ref != 'hotfix' &&
      !startsWith(github.head_ref, 'hotfix/')
    steps:
      - name: Close PR
        uses: actions/github-script@v7
        with:
          script: |
            const commentParams = {
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.payload.pull_request.number,
              body: 'Pull request to main branch from this branch is restricted.',
            };
            const closeParams = {
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.payload.pull_request.number,
              state: 'closed',
            };

            await github.rest.issues.createComment(commentParams);
            await github.rest.pulls.update(closeParams);